li {
	list-style-type: none;
	padding-left: 4px;
	margin-left: 4px;
	/* border-left: 1px black solid; */
}
ul {
	margin-left: 0;
	padding-left: 4px;
	margin-left: 4px;
	/* border-left: 1px black solid; */
}
span {
color: white;
padding: 5px;
text-decoration: none;
display: flex;
align-items: center;
}
span:hover { text-decoration: underline;}
